# dependencies
node_modules/

# build
dist/
.astro/

# logs
*.log
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.production
.env.local
.env.*.local

# macOS
.DS_Store

# editor
.vscode/
.idea/

# worktrees
.worktrees/

# vercel
.vercel/
